<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ペットショップ情報</title>
</head>
<body>
<header>
    <h1>ペットショップ情報</h1>
    <nav>
        <ul>
            <li><a href="contact.html">管理者ページ</a></li>
        </ul>
    </nav>
</header>
